.header {
  height: 60px;
  background-color: #4696e5;
  padding: 15px 0;
  box-sizing: border-box;
}

.header__title {
  margin: 0;
  color: white;
  float: left;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.header__title-logo {
  width: 30px;
  height: 30px;
  display: initial;
  margin-top: -3px;
}

.header__tags-list {
  float: right;
}

@media (max-width: 767px) {
  .header__subtitle {
    display: none;
  }
}
