@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    margin: 0;
    font-family:
      system-ui,
      -apple-system,
      'Segoe UI',
      Roboto,
      Helvetica,
      Arial,
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji';
  }
}

@layer components {
  .menu-item {
    font-family: sans-serif;
    @apply text-shlink-brand hover:text-shlink-brand-dark py-1.5 px-2.5;
  }

  .menu-item.active {
    @apply text-white bg-shlink-brand rounded;
  }
}

/* Overwrite swagger styles */
.swagger-ui .url {
  word-wrap: break-word;
}

.swagger-ui .wrapper {
  padding: 0 !important;
}

.swagger-ui .scheme-container {
  box-shadow: none;
  padding: 0;
}

.swagger-ui .auth-wrapper .authorize {
  margin-right: 0;
}

/* Overwrite API spec styles */
.aui-root {
  @apply -ml-6;
}

@media (max-width: 1535px) {
  .aui-root {
    @apply -mr-6;
  }

  .aui-root .panel-item--right {
    @apply mx-8;
  }
}
