.header {
    height: 60px;
    background-color: #4696E5;
    padding: 15px 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header__title {
    margin: 0;
    color: white;
    float: left;
}

.header__title-logo {
    vertical-align: bottom;
}

.header__tags-list {
    float: right;
}

@media (max-width: 767px) {
    .header__subtitle {
        display: none;
    }
}
