.menu {
  width: 100%;
  max-width: 1460px;
  margin: 30px auto 10px;
  padding: 0 20px;
  box-sizing: border-box;
}

.menu a {
  font-family: sans-serif;
  text-decoration: none;
  color: #4990e2;
  padding: 6px 10px;
}

.menu a:hover {
  color: #1f69c0;
}

.menu a:first-child {
  margin-right: 5px;
}

.menu a.active,
.menu a.active:hover {
  color: white;
  border-radius: 4px;
  background-color: #4990e2;
}
